[2016-07-11 02:44] QuincyLarson opened #90 "You should be able to select times from right to left as well"

[2016-07-11 02:44] QuincyLarson opened #91 "You should be able to drag both horizontally and vertically"

[2016-07-11 02:46] QuincyLarson opened #92 "I should be able to modify dates on time picker page, too."
![](https://www.evernote.com/l/Ar8RcJQDGNhLAb5YmxfKXms6NqwtHQSQJGAB/image.png)

[2016-07-11 02:50] QuincyLarson opened #93 "Create spinner between all views so people don't think the app crashed"

[2016-07-11 02:52] #93 closed

[2016-07-11 02:52] QuincyLarson opened #94 "Send Quincy your SSH keys so he can add you to the server"
@AkiraLaine @awesomeaniruddh

[2016-07-11 02:57] QuincyLarson opened #95 "Create rectangle drag and select multiple times of day and dates on calendar"
![](https://www.evernote.com/l/Ar_hLk_FMD9OcZxsmf4RmgdpEMukUsyWtUYB/image.png)

[2016-07-11 02:57] #91 closed

[2016-07-15 02:47] #90 closed

[2016-07-16 14:02] CarlJKashnier opened #96 "Unable to see log in button on iPad"
The login buttons were not showing on my ipad. When I moved to my laptop I could see them.

per one of me end user

[2016-07-18 04:20] QuincyLarson opened #97 "Unable to select times on large grid"
I am unable to select a time on this large grid:
![](https://www.evernote.com/l/Ar9tFbHWtjVIJY6cfX_Tm3ajGedS-K5OkmgB/image.png)

[2016-07-18 04:48] AkiraLaine commented on #97
I temporary fixed it. Can you confirm that the grid works? (Screenshot would be great :smile:)

There seems to be a problem with using weekdays - I'm gonna temporarily remove the ability to create events with them until I figure out what the problem is.

[2016-07-28 14:51] duttakapil opened #98 "User Feedback - My observations and suggestions for the app"
A few days ago, Quincy suggested me to use this app so that we can fix on a time to do our video call. The following were my immediate observations, which I then shared with Quincy and he asked me to post a issue here as a feedback -

So the way this could be done is, if we consider 12 am to 8 am as the ideal time to set a meeting, then for the first participant, we should provide the option of 12

[2016-07-29 03:12] AkiraLaine commented on #98
Hi @duttakapil, I'm not really sure what you're trying to say.

Although the labels on top need some work to be positioned correctly, the gird properly converts the original times to your timezone.

So in your case the times that are converted are the following:
16th July: 6:00am to 6:30am, 10:00pm to midnight
17th July: Midnight to 6:30am, 10:00pm to midnight
18th July: Midnight to 6:00am

You ne

[2016-07-29 13:08] duttakapil commented on #98
Okay. Let's break this down.

First, let's just talk about the User Experience.
- When I open the [event page](https://letsmeetfcc.herokuapp.com/event/gcc23E), I see a calendar with some dates marked in blue. Meaning, those dates have been selected by the 1st participant.
- Then I see a "Enter my availability" button which I promptly click. Right after clicking, I see a grid, like the one I posted

[2016-07-30 04:55] AkiraLaine commented on #98
Ok. Lets clear this up :D

I realized that the grid is messing up for you (for unknown reasons). This is first time it's done that.

The split is due to time split. Like the 16th of July from 9am to 6pm (Quincy's time) becomes the 16th July from 9:30pm to the 17th of July at 6:30am. But since we show the 17th underneath the 16th, we have to make that split.

Also, the reason you don't see a heat m

[2016-08-03 18:12] SimulatedGREG commented on #96
I'm not seeing login in buttons on mobile either.

[2016-08-29 14:34] CarlJKashnier opened #99 "Formatting Issue"
The time selection is going 100% across the screen and repeating times across the day. I really liked the app when it worked before this change that happened just this week on the herokuapp.
![fccletsmeetscrnsht](https://cloud.githubusercontent.com/assets/13282866/18054985/2f7687f8-6dd4-11e6-9473-06f67858d976.png)

I added a screen cap to show off the issue.

[2016-09-01 19:30] CarlJKashnier commented on #99
Thank you for the fix!

[2016-09-02 07:57] AkiraLaine commented on #99
Hey @CarlJKashnier. Has the issue resolved? I don't know what's causing the app to act that way.

I haven't had any time to work on LetsMeet, if you want to give it a shot and work on the codebase - feel free to do so!

[2016-09-02 12:19] CarlJKashnier commented on #99
@AkiraLaine - It is fixed, thank you.

[2016-09-02 15:32] ghost commented on #99
This can be closed.

[2016-09-03 08:24] #99 closed

[2016-11-03 11:36] CEREBR4L opened #100 "Keys"
What keys is it we need exactly both google and facebook have multiple apis.

[2016-11-04 05:15] AkiraLaine commented on #100
For Facebook you'll need:
- App ID (`.env`: FACEBOOK_KEY)
- App Secret (`.env`: FACEBOOK_SECRET)

I'm not sure about Google though, don't they also have like an App ID & Secret?

[2016-11-04 09:05] CEREBR4L commented on #100
@AkiraLaine I got the facebook keys and was able to log in fine, no idea where to grab the google ones from I had a look but couldn't see where to get the keys.

[2016-11-16 17:03] #100 closed

[2016-12-30 02:52] AkiraLaine opened #115 "Cannot run app locally - parseQuery() error"
Hey! I cant seem to get the app running. I keep getting this error:
![image](https://cloud.githubusercontent.com/assets/11958359/21558955/dbb36310-ce96-11e6-9109-2d76b3ceea48.png)

There doesn't seem to be a `parseQuery` method in `client.js`. I've got the latest changes from `development` and did an `npm i`.

OS: Windows 10
Node: 7.0.0
NPM: 3.10.8

[2016-12-30 03:26] jrogatis commented on #115
Can you please try to upgrade to node 7.2.1  ?

De: Akira Laine <notifications@github.com>
Responder para: FreeCodeCamp/LetsMeet <reply@reply.github.com>
Data: sexta-feira, 30 de dezembro de 2016 00:52
Para: FreeCodeCamp/LetsMeet <LetsMeet@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Assunto: [FreeCodeCamp/LetsMeet] Cannot run app locally - parseString() error (#115)

Hey! I

[2016-12-30 03:51] AkiraLaine commented on #115
Tried 7.2.1 & 7.3.0 - same result.

[2016-12-30 03:56] jrogatis commented on #115
Here and at herohu its working... So if was possible send me the build  log ?
I will test at win 10

De: Akira Laine <notifications@github.com>
Responder para: FreeCodeCamp/LetsMeet <reply@reply.github.com>
Data: sexta-feira, 30 de dezembro de 2016 01:51
Para: FreeCodeCamp/LetsMeet <LetsMeet@noreply.github.com>
Cc: Jean Philip de Rogatis <jrogatis@conecta.net.br>, Comment <comment@noreply.github.c

[2016-12-30 04:13] AkiraLaine commented on #115
The only error i got is the one above. What do you mean by build logs?

[2016-12-30 04:14] butterthebuddha commented on #115
Working on macOS 10.12.2 for me here.

[2016-12-30 04:17] AkiraLaine commented on #115
Did some digging, got it to work.
`babel-loader` seemed to have been using a non-compatible version of `loader-utils` w/ Webpack 2.
`npm i loader-utils` did the trick 😄

[2016-12-30 04:17] #115 closed

[2017-01-26 15:37] #94 closed

[2017-03-15 16:18] yzhbankov opened #146 "Tasks need"
Hi, everybody.
Is this project completely done or there is some work for volunteers?

[2017-03-15 20:01] yzhbankov commented on #146
Need help.
I try to start project locally (in windows 7) but after execution of command "npm run serve" in terminal following message is prints and server is not starting. Moreover there are no connections to mongodb server.
.
.
server\auth\facebook\index.js -> build\auth\facebook\index.js
server\auth\facebook\passport.js -> build\auth\facebook\passport.js
server\auth\google\index.js -> build\auth

[2017-03-15 23:27] jrogatis commented on #146
do you set the .env file ?  What's yours  node ver ?

[2017-03-16 00:03] #92 closed

[2017-03-16 00:03] #95 closed

[2017-03-16 00:03] #96 closed

[2017-03-16 00:03] #97 closed

[2017-03-16 00:03] #98 closed

[2017-03-16 06:57] yzhbankov commented on #146
Yes i create .env file with the following content:

MONGO_URI=mongodb://localhost:27017/letsmeet
GOOGLE_KEY=[YOUR_GOOGLE_KEY]
GOOGLE_SECRET=[YOUR_GOOGLE_SECRET]
FACEBOOK_KEY=[YOUR_FACEBOOK_KEY]
FACEBOOK_SECRET=[YOUR_FACEBOOK_SECRET]
APP_URL= http://localhost:8080/
NODE_ENV = 'development'
mailgunLogin='your mail user'
mailgunPassword='your mailgun  pass'
emailFrom='default email from'

My node ver

[2017-03-16 12:06] jrogatis commented on #146
do you run npm install first ?  Can you provide the complete webpack build log ?

[2017-03-16 12:15] yzhbankov commented on #146
Yes i run npm install first.
npm-debug.log contain the following:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'serve' ]
2 info using npm@4.1.2
3 info using node@v7.7.3
4 verbose run-script [ 'preserve', 'serve', 'postserve' ]
5 info

[2017-03-16 12:26] jrogatis commented on #146
I need the log that you get when you run npm run serve... the one that appears at your screen.

[2017-03-16 12:32] yzhbankov commented on #146
D:\JS\LetsMeet>npm run serve

 ? Copied server/api/email/templates/**/ to the /build//api/email/templates/ directory

 ? Copied server/api/email/templates/**/ to the /build//api/email/templates/ directory

server\api\email\email.controller.js -> build\api\email\email.controller.js
server\api\email\index.js -> build\api\email\index.js
server\api\events\events.controller.js -> build\api\events\event

[2017-03-16 12:44] jrogatis commented on #146
its something related to windows 7 and webpack2 compatibility. So i will need some time to emulate a windows 7. Mean time,  my suggestion,  if is possible,  try to emulate a linux ubuntu at your machine to run the app. This app is developed to works at heroku, so windows its not a priority.

[2017-03-16 12:45] yzhbankov commented on #146
Thank you!
I try it.

[2017-03-17 20:36] yzhbankov commented on #146
Virtual machine really helps and i run the project!!!
Unfortunately the app dont allow me pass login throught facebook or google.
Browser: Chrome/Firefox

In the case of google authentification:
Error: invalid_client
The OAuth client was not found

In case of Facebook authentification:
HTTP Error 500

[2017-03-18 15:02] jrogatis commented on #146
you need to set the keys at .env .. Do you create application keys at each of the login providers ?

[2017-03-20 15:11] CodeNonprofit opened #160 "I should see others availability in the grid when joining an event"
App currently shows grid with other users' availability only after submitting your own and joining the event. It would be useful to know this information as you add in your own availability.

[2017-03-20 15:15] CodeNonprofit opened #161 "Events just joined do not show up on the dashboard until I toggle 'Past Events'"

[2017-03-20 15:19] jrogatis commented on #161
the event its not at some past hour or date ? Can you please show me some example ?

[2017-03-20 15:28] CodeNonprofit commented on #161
Portions of the availability in the original invitation are _technically_ in the past, but once I've toggled Past Event on and off again, it shows back up on the dashboard. Events should only be relegated to Past Events once the latest hour of availability on the invitation has passed.

[2017-03-21 01:37] jrogatis commented on #161
i cant reproduce this behavior. can you please test again ?

[2017-03-22 14:38] butterthebuddha commented on #160
Right now, the Grid opens in "edit mode" right after you join the event. We thought it'd be good UX but I realise that it might actually be a little confusing.

We can just not open the grid in "edit mode": the user in this case will see the grid open as
 the heatmap with everybody's availability right after they join.

The other solution (which I'm thinking of implementing anyway) is to have a "C

[2017-03-22 15:34] yzhbankov commented on #146
I run project with your help)))

I found some things that can be improved:

1. Add date preview in Event creation window
![image](https://cloud.githubusercontent.com/assets/13466225/24204991/d2d97118-0f22-11e7-8ad0-f9ea8926f03c.png)
2. Add the field of event description (i think that it will be more suitable if user see some details of event)
3. Add categorising of events for example by color
4. A

[2017-03-22 15:40] jrogatis commented on #146
Thanks for your suggestions! Will look at that. Can you please clone the latest version, and test from  there ? We have a new version almost every day. And the latest change the app a lot.

[2017-03-22 15:45] yzhbankov commented on #146
Yes of course, thanks. I will do it today.

[2017-03-23 06:52] yzhbankov opened #166 "Problem with project setup in Windows"

[2017-03-23 07:03] yzhbankov commented on #146
Hello Jean. I have some question. What benefits has "LetsMeet" project in comparison for example with Google calendar? It help to understand me the ways of project evaluation.

[2017-03-23 11:14] jrogatis commented on #146
Hey there. This APP solves the time table  issue for a project manager that is trying to set a schedule for a meeting that have participants at different time zones. offering yours possible dates and times and give the others a chance to sync the agenda. All time tables free APPs like google calendar doesn't  offer the possibility of a schedule offers, they provide a more then efficient  appointme

[2017-03-24 15:34] #166 closed

[2017-03-25 16:52] #146 closed

[2017-03-25 21:18] CodeNonprofit opened #180 "Refreshing the page toggles "Past Events" back to 'Off'"
Chrome Version 58.0.3029.33 beta (64-bit)

[2017-03-26 14:09] jrogatis commented on #180
#184

[2017-03-27 01:29] jrogatis commented on #160
My opinion, we can display a faded and light-grayed heat-map... behind the grid...  so the user can see the actual heat-map and pick the superposed times....

[2017-03-27 05:16] #180 closed

[2017-04-04 11:41] jspaine opened #210 "Bug in availability selection"
Seems that after clearing a selected block the rangeSelected state on the AvailabilityGrid is stuck to true, then it's impossible to create new blocks or set individual blocks. Setting rangeSelected = false in react devtools **after** selecting the beginning of a new block fixes it.

[2017-04-27 11:26] #210 closed

[2017-05-18 22:16] jrogatis commented on #160
#248

[2017-05-18 22:16] #160 closed

[2017-05-18 22:16] #161 closed

[2017-05-21 13:48] QuincyLarson opened #252 "Can't unselect bars"
There weren't any console errors.

![](https://www.evernote.com/l/Ar_CpMGobglPtYvqsb5L-9GdALg87RZgtc8B/image.png)

[2017-05-23 02:26] jrogatis commented on #252
fix correcting the initial state when a new participant add for the fist time the availability #260

[2017-05-23 04:52] jrogatis commented on #252
fix merged @QuincyLarson. If you please test I will most appreciate.

[2017-05-25 04:56] QuincyLarson commented on #252
@jrogatis Awesome - this works better than ever. Thanks for fixing this!

[2017-05-25 04:56] #252 closed

[2017-05-27 06:43] QuincyLarson opened #273 "As a user who created an event, I can change the event dates without completely deleting the event"
One of the dates I selected in the event creation step isn't a good date for me. Instead of having to completely delete the event and restart the process, I want to be able to change the dates.

[2017-06-05 20:13] QuincyLarson opened #306 "Email invites populated with "undefined""
![share_your_availability_for_undefined_-_quincy_freecodecamp_com_-_free_code_camp_mail](https://cloud.githubusercontent.com/assets/985197/26801126/79f9d8de-4a01-11e7-9c21-3d580d5a91cb.png)

[2017-06-06 00:45] jrogatis commented on #306
#307
PR for handle possible error. Since we can't figure out what really happens, this at least prevent the possibility of generating a undefined email.

[2017-06-07 03:55] BerkeleyTrue opened #312 "Add production tools"
Add [morgan](https://github.com/expressjs/morgan) for route logging in.
Add [opbeat](https://opbeat.com/nodejs/) for route perfomance

[2017-06-07 04:18] BerkeleyTrue opened #313 "Create a startup script"
The current startup script does not play well with PM2.
Create a start up script that requires no other commands to run the app.

[code]

[code]

[2017-06-07 07:19] jrogatis commented on #313
its done at #314

[2017-06-07 07:22] #313 closed

[2017-06-07 20:13] jrogatis commented on #312
@BerkeleyTrue  #315 PR deals with morgan implement. But because of the heroku write restrictions will not work at that environment.  Will we have the same app write restrictions at the production  digital ocean environment ?

[2017-06-07 21:00] jrogatis commented on #312
@BerkeleyTrue #316 deals with opbeat implement. Some extra configs needs to be done at this repo.

[2017-06-08 04:25] BerkeleyTrue commented on #312
No such restrictions

[2017-06-08 21:02] m-henderson opened #321 "Horizontal Rules Not Centering"
The horizontal rules on the home page were not centering when using the Chrome browser.

**Chrome**
![image](https://user-images.githubusercontent.com/16070192/26950508-7baedd1e-4c63-11e7-9f11-e87dfd3b1fac.png)

**Edge**
![image](https://user-images.githubusercontent.com/16070192/26950516-8455040c-4c63-11e7-8f52-e57990993539.png)

I resolved the issue in PR #320

[2017-06-08 22:27] jrogatis commented on #321
Apv and merged!
Tks again for you contribution!

[2017-06-08 22:27] #321 closed

[2017-06-08 22:40] jrogatis commented on #312
Both pr merged! Tks for your help! @BerkeleyTrue

[2017-06-08 22:40] #312 closed

[2017-06-09 00:21] BerkeleyTrue opened #322 "cannot read property of participants of null"
Seeing this currently on the server

![hyper](https://user-images.githubusercontent.com/6775919/26955904-e016489a-4c6e-11e7-9e99-9149e4934cca.png)

[2017-06-09 00:25] BerkeleyTrue commented on #322
note: This isn't being printed as an error but as a log

[2017-06-09 00:49] jrogatis commented on #322
@BerkeleyTrue the app is crashing ?

[2017-06-09 04:41] arjunnn opened #327 "<hr> elements are misaligned on https://meeting.freecodecamp.com/"
![screenshot 2 _li](https://user-images.githubusercontent.com/6116387/26961401-ec54c7b6-4cfb-11e7-9573-6529dc6a2c95.jpg)

[2017-06-09 04:53] arjunnn commented on #327
I just noticed that this issue is fixed in the development branch. Hence I'm closing the issue.

[2017-06-09 04:53] #327 closed

[2017-06-09 05:02] anischyros commented on #322
Per JP, I took a look at this.  I can't reproduce it.  Perhaps @BerkeleyTrue can provide some additional information about what he was doing in the app when this exception was thrown, e.g., creating an event, adding/removing participants, saving availability information.

[2017-06-09 16:27] BerkeleyTrue commented on #322
This is the production server.

@jrogatis Doesn't look like the actual servers are crashing due to this. More likely a request is failing and returning a 500 status.

[2017-06-10 03:51] BerkeleyTrue opened #333 "GA ID not set during build process"
The GA ID is injected into the client side files using webpacks Define plugin, but the build process does not call the dotenv process to load the ENV var's into the process. This results in an undefined GA ID, whether or not it is set in the .env file.

[2017-06-10 04:13] #306 closed

[2017-06-10 04:20] jrogatis commented on #333
@BerkeleyTrue addressed at #334

[2017-06-10 04:28] #333 closed

[2017-06-11 15:13] jrogatis opened #338 "but hitting the notifications icon resets the grid"
When you are on edit mode at grid, if you hit the notifications the app reset the grid.
That only happens at edit mode.

[2017-06-11 18:24] jrogatis commented on #273
@QuincyLarson New functionality is address at #339 . And is live at https://meeting-for-good-jp.herokuapp.com
for testing purposes, and for text correction.

[2017-06-11 18:38] jrogatis opened #340 "no event-owners can "archive" the event, em prevent to be displayed."

[2017-06-12 09:28] #322 closed

[2017-06-12 18:06] BerkeleyTrue opened #341 "Travis should run on LTS versions of node"
Currently Travis runs against Node 7 which is an experimental version of node. The travis config should be updated to test against Node 6 and Node 8 (which will be LTS very soon).

[2017-06-12 18:18] BerkeleyTrue opened #342 "Create OpBeat Release notification script"
OpBeat Requires notification when a server is updated.

We should create a script that can be run whenever the server is updated. This script will need to require the .env environ vars using dotenv

Here is the actual URL that most be hit when servers are updated using cURL:
[code]

We should use something like Request or the http module to make this request as port of the script

For more info he

[2017-06-12 19:39] BerkeleyTrue opened #343 "Normalize Environmental Variables"
Currently the environmental variables are not consistent.

Some are in the form `ALL_CAPS` (this is the idiomatic Unix style) while some are in `camelCase`.

We should stay internally consistent and consistent with the rest of the Unix world and normalize all the variables in .env and their uses in the codebase to form `ALL_CAPS`

[2017-06-12 21:38] #273 closed

[2017-06-12 23:09] anischyros commented on #343
Addressed in pull request #347.

[2017-06-13 06:42] BerkeleyTrue commented on #343
@anischyros Please add 'closes #\<issue number\>' to the body of PR's to connect PR's to issues. Adding a comment here does not connect the two.

[2017-06-13 11:37] Bouncey opened #348 "Stuck at a blank screen and unable to login in"
This is the event - https://meeting.freecodecamp.com/event/593eb0d8769f8d68096037d1

Browser is `ie11`

I am asked to sign in with google, I am then redirected to `https://meeting.freecodecamp.com/loginController#` and shown a blank screen.

![mfg](https://user-images.githubusercontent.com/18572518/27080637-b24689c4-5034-11e7-9137-2218642f9c33.png)

There is nothing logged in the console.

I have

[2017-06-13 11:39] Bouncey opened #349 "Not mobile friendly"
Not sure if this was a design decision, but the app is hard to navigate in mobile and there is information missing, i.e. who has submitted availability.

iPhone 5C, safari, latest iOS

Unable to use a different browser as this is a works phone

[2017-06-13 11:42] Bouncey opened #350 "Not all hours of the day shown"
My time zone is London/Dublin GMT+0. The availability map shows 1am - 5am, two thick vertical lines, then 4pm - 11pm.

My expectation is to be able to submit my availability for a 24 hour period.

[2017-06-13 13:04] jrogatis commented on #350
@Bouncey You are the owner-creator of this event ? If was not, that time restriction are impose from the owner and the "time gap" is correct.

[2017-06-13 13:09] Bouncey commented on #350
Understood, thanks @jrogatis

I am not the owner and thought there was an issue.

Could a UI feature be implemented to reduce confusion?

[2017-06-13 13:11] jrogatis commented on #349
@Bouncey Its a initial design decision. But any help to enhance this aspect will be more them welcome!

[2017-06-13 13:16] jrogatis commented on #348
This is a intermediary step to redirect you to the correct event-page, since the passport lib only manage one callback url.
@Bouncey You cant access after a refresh ?

[2017-06-13 13:18] CodeNonprofit commented on #350
@jrogatis I can confirm this issue:
<img width="860" alt="screen shot 2017-06-13 at 9 18 01 am" src="https://user-images.githubusercontent.com/9578097/27084278-403ec1ea-5019-11e7-8c61-d8751db46bb4.png">

[2017-06-13 13:21] jrogatis commented on #350
For sure this is a good idea! @Bouncey I will think something  PR are always welcome !

[2017-06-13 13:22] Bouncey commented on #348
If I refresh I appear to be signed in, I get the google avatar placeholder image in the top right, and I have the event url.

But I still have a blank screen as above

[2017-06-13 13:25] Bouncey commented on #348
@jrogatis

Notifications is a blank dropdown
`Dashboard` redirects me to a `/dashboard` endpoint, but I still have a blank screen.
The dropdown under the avatar has `Past Events` toggle, `About` and `Logout`

[2017-06-13 13:31] jrogatis commented on #350
What i see @CodeNonprofit is almost correct, the only issue is the final s15 slot after th gap. This is a event that starts 10:45 and finish 00:45 your time correct @CodeNonprofit

[2017-06-13 22:58] jrogatis opened #357 "Add google analytics hooks"
We use react-ga [https://github.com/react-ga/react-ga](url) module as a provider for our analytics.
But we can improve our statistics, adding hooks for events, like new user, or new event created.
This is the ex : ``ReactGA.event({
  category: 'User',
  action: 'Created an Account'
});``
Add this at the right place on each possible event.
PRs are welcome!

[2017-06-13 23:03] jrogatis opened #358 "Add a call for action button at landing page"
We want the same look as `www.freecodecamp.com` call for action. at the same colors with
this words ''Login (it's free)" button that redirect to the login button of the navbar
![captura de tela 2017-06-13 as 20 02 39](https://user-images.githubusercontent.com/17405774/27108398-5606713a-5073-11e7-9cd0-52d5e73790ec.png)

[2017-06-13 23:05] jrogatis opened #359 "Add statistics from the app at the landing page."
A good example  [https://lichess.org/](url) to left

[2017-06-13 23:51] #343 closed

[2017-06-13 23:57] jrogatis commented on #348
do you get any console msg ? @Bouncey

[2017-06-14 00:22] anischyros commented on #349
I tried this with my iPhone 5C with Safari and agree that it is complicated to navigate, but not impossible.  I was able to view an event I'd made previously, make some availability changes, and see all of the availability grid.  I had to zoom in order to use the availability grid and swipe the display to one side or the other to see the entire display.

[2017-06-14 04:12] QuincyLarson opened #364 "Adding a "donate" button to navigation"
We're paying about $80/month for servers to run Node and the MongoDB cluster to run Meeting for Good, so anything donations people can give would be a huge help :)

Could you link it to https://www.freecodecamp.com/donate/?r=mfg

[2017-06-14 05:06] jrogatis commented on #364
@QuincyLarson i can add this button at the dashboard or at the toolbar at top, or as floating button.. What is the best place ?

[2017-06-14 05:37] Bouncey commented on #348
@jrogatis, still nothing in the console

[2017-06-14 05:42] jrogatis commented on #348
@Bouncey can you please provide de browser and SO versions ?

[2017-06-14 05:45] jrogatis opened #366 "Correct padding on shifted grid on partial hours"
<img width="860" alt="27084278-403ec1ea-5019-11e7-8c61-d8751db46bb4" src="https://user-images.githubusercontent.com/17405774/27117126-821c2340-50ab-11e7-9f39-c76764360852.png">

[2017-06-14 07:37] Bouncey commented on #348
Yes @jrogatis, it is windows 8, IE 11.

Both are the current stable versions.

I would love to help investigate the issue, but I am unable to install node due to company policy

[2017-06-14 16:24] jrogatis commented on #358
#367

[2017-06-14 16:24] #358 closed

[2017-06-14 17:39] jrogatis commented on #350
the real issue is #366 so im closing this one

[2017-06-14 17:39] #350 closed

[2017-06-14 21:21] jrogatis commented on #342
@BerkeleyTrue we have a live version thats suppose deal with that. but i cant figure out what was wrong. Can you look at prod server ?

[2017-06-14 22:07] BerkeleyTrue commented on #342
I'm not sure what you mean by this. Can you clarify?

[2017-06-14 23:30] jrogatis commented on #342
@BerkeleyTrue its running  at production

[2017-06-15 00:45] BerkeleyTrue commented on #342
@jrogatis What is running in production? OpBeat?

[2017-06-15 02:14] jrogatis commented on #342
@BerkeleyTrue yes. at least is the same code that works at my local and at heroku... but not at the production.

[2017-06-15 04:08] jrogatis opened #374 "Documentation for the code"
Can any one help to document the project ?
I know that a lot of the code needs better explanations.

[2017-06-15 04:09] jrogatis commented on #349
We need to refactor the grid component to be able to zoom in and out and scroll thru the days.

[2017-06-15 04:12] jrogatis opened #375 "add a better layout when Jump Hours at the grid."
My suggestion is something like |<->| as a new "cell" instead of   double borders at the cell.

[2017-06-15 04:33] jrogatis commented on #364
its at left side at the same side of the logo @QuincyLarson

[2017-06-15 21:07] jrogatis opened #379 "Prevent user to set a event with last then a hour of duration"
Because of the way we construct the grid, if we get less the 1 hour for a event, the hour titles will not be displayed.

[2017-06-15 23:01] #341 closed

[2017-06-16 02:56] jrogatis opened #384 "OpBeat log"
at my local env opBeat works.  but when i try at heroku or at the production., stops login performance. The errors and the releases works.
Also i got:
GMT opbeat agent configured correctly { node: 'v8.1.2', agent: '4.14.0', org: 'xxxxxxx', app: 'xxxxx', instrument: true }
@BerkeleyTrue . Can you help ?

[2017-06-16 07:07] jrogatis commented on #357
Add a hook when a event get more then 2 participants . So is a real one, not only a test

[2017-06-17 00:20] QuincyLarson commented on #364
@jrogatis Awesome! It looks a bit awkward being so close to the title - like the name of the app is "Meeting for Good Donate". Can you move it over to the right, just left of the bell?

[2017-06-17 02:32] jrogatis commented on #364
@QuincyLarson ok!

[2017-06-18 05:34] #366 closed

[2017-06-18 05:34] jrogatis commented on #364
@QuincyLarson produtction in 10min

[2017-06-18 05:34] #364 closed

[2017-06-18 05:34] #375 closed

[2017-06-18 05:35] #342 closed

[2017-06-19 01:51] jrogatis commented on #348
@Bouncey do you have any kind of protection for the app write at the local browser data-base ?

[2017-06-19 10:05] Bouncey commented on #348
@jrogatis I visited [this example](http://www.onlywebpro.com/demo/jquery/indexeddb.html) to test out `indexedDB` and it worked

I also used the dev tools to do `console.log('indexedDB' in window)` which logged `true`. I also tested this on the event page.

As far as protection goes, we use McAfee, but as the other example works then I can't see it being a problem.

If you need me to try anything e

[2017-06-19 14:06] jamespsterling opened #388 "Npm postinstall fail Linux"
Failure on ```Linux nj-car-devise 3.11.0-26-generic #45~precise1-Ubuntu SMP Tue Jul 15 04:02:35 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux```

npm -v ```3.6.0```
node -v ```v5.6.0```
mongo ```MongoDB shell version: 2.0.4```

[code]

[2017-06-19 14:53] jrogatis commented on #388
Hey there @jamespsterling , tks for your interest for m4g!
I notice that you need to make some upgrades at your environment to run this project.
Please try using nodejs v8 and at least mongo 3.2.
If you need some help to setup. i can help you !

[2017-06-19 16:43] jamespsterling commented on #388
@jrogatis running distro upgrades now, thanks.

[2017-06-19 20:14] QuincyLarson commented on #364
@jrogatis Awesome! Looks great. Thanks again for implementing this!

[2017-06-19 20:49] jrogatis commented on #388
Im closing this one. Feel free to open again if you got another issue!

[2017-06-19 20:49] #388 closed

[2017-06-20 08:35] jrogatis opened #395 "add nodemon at webpack"
WE need a setup at webpack that can recompile the server after we edit some file.

[2017-06-20 11:54] jrogatis opened #396 "Integrate google calendar"
As a user I can view my google calendar as a disabled cells at grid.

[2017-06-20 20:39] jrogatis opened #398 "Add common propTypes for Events"
We use a common library of proptypes. Add events type check and change the object at each one of the files that use this prop.

[2017-06-21 19:13] dakshshah96 commented on #395
@jrogatis Can I help with this?

[2017-06-21 19:17] dakshshah96 commented on #374
@jrogatis I can help. What type of documentation are you looking for exactly?

[2017-06-21 22:33] BerkeleyTrue commented on #384
Can you verify that opbeat is correctly set up on the server?

[2017-06-22 04:19] jrogatis commented on #374
we can start at least with  [jsDoc](http://usejsdoc.org/index.html), but any suggestions, and any help will be most appreciated! @dakshshah96

[2017-06-22 04:21] jrogatis commented on #384
I talk with opbeat support today and fix some stuff at the app. And now is working at heroku to.
If you look at the production pm2 logs opbeat can get the env vars. and correctly run the release script. But i can figure out what happens with the performance module. Can you help me ? @BerkeleyTrue

[2017-06-22 04:23] jrogatis commented on #395
For Sure! @dakshshah96

[2017-06-22 04:28] jrogatis commented on #384
Its working now! I need to made some others adjustments but is working!
Tks @BerkeleyTrue !

[2017-06-22 04:45] #384 closed

[2017-06-22 09:26] dakshshah96 commented on #395
@jrogatis And if I'm right, this is just for the development environment right?

[2017-06-22 15:55] jrogatis commented on #395
@dakshshah96  Yes, only at "serve" script, but be aware that we use the react-HMR, Tks for your interest again!

[2017-06-23 01:21] jrogatis opened #406 "add icons at left side of the menu"
Thats will be a nice touch like ? for about

[2017-06-23 02:28] jrogatis opened #407 "split Demo dialog at Availability Grid to a separated object"
WE have a dialog at AvailabilityGrid.js that show how to interact with the grid. Its desirable to split that at a separated component/object

[2017-06-23 18:31] CodeNonprofit opened #408 "Individual participant availability should be clickable, persist until unclicked on detail view"

[2017-06-23 18:33] CodeNonprofit opened #409 ""The following times work for everyone" is showing in 15 minute blocks"
<img width="302" alt="screen shot 2017-06-23 at 2 32 20 pm" src="https://user-images.githubusercontent.com/9578097/27495673-ed36c15e-5820-11e7-891e-69be15ab1a48.png">

[2017-06-23 18:42] CodeNonprofit opened #410 ""Create new event" screen should have trash icon to delete, similar to dashboard events"

[2017-06-23 19:00] CodeNonprofit opened #411 "Copy fix: <name> accepted your invitation *to* <event> in notifications"

[2017-06-24 01:20] #411 closed

[2017-06-25 02:11] #410 closed

[2017-06-25 15:42] jrogatis opened #417 "Create Tests parameters and procedures."

[2017-06-26 01:18] #407 closed

[2017-06-27 06:19] jrogatis opened #425 "add a border when selecting cells at edit mode grid"
Add a border to visual help the selecting cells when at edit mode, and processing selection

[2017-06-27 18:34] yesthatguy opened #426 "First half of dates are deactivated"
I created my first event and specified 8 available dates, but when I get taken to the grid, the first 4 dates show up as gray and I'm not able to click and drag to set availability during those days:

<img width="1072" alt="screen shot 2017-06-27 at 1 27 29 pm" src="https://user-images.githubusercontent.com/10944164/27603728-977082a4-5b3c-11e7-86fb-1691c97906d8.png">

There seems to be a style app

[2017-06-28 17:05] jrogatis commented on #426
hey @yesthatguy. the fix is on line.  Can you please test and give me a feedback ?

[2017-06-28 17:35] yesthatguy commented on #426
Working for me now, thanks!!

[2017-06-28 17:35] #426 closed

[2017-06-30 01:48] ZaynMalloc commented on #417
I'd like to help out.

[2017-06-30 05:20] jrogatis commented on #417
Hey @ZaynMalloc Tks for your interest! Do you have experience with Mocha.JS ?

[2017-06-30 06:14] ZaynMalloc commented on #417
Yes

[2017-06-30 13:41] jrogatis commented on #417
Ok so the best approach is if you can, please  PR the initial Mocha setup and will start building the tests from there. I you want to start boldly you can already propose the basics CRUDS tests!

[2017-06-30 17:15] ZaynMalloc commented on #417
thanks, I'm working on it right now

[2017-07-01 22:29] ZaynMalloc commented on #417
I cloned the repo. When I run npm run dev, I get an error, and I am stuck at the "Loading the application, please hold on page".
[code]

[2017-07-02 20:22] jrogatis commented on #417
hey @ZaynMalloc Zach
zach@zach-VirtualBox:~/Documents/Code/meeting-for-good$ npm run dev <---
its npm run serve

[2017-07-03 09:06] jrogatis commented on #417
Congratulations for your fist merge with us! Good Work! So lets continue ? Can you create the CRUD
tests for events and users ? @ZaynMalloc

[2017-07-04 05:09] jrogatis commented on #374
any news ? @dakshshah96

[2017-07-04 09:10] ZaynMalloc commented on #417
Ok, I'll continue

[2017-07-04 12:27] jrogatis commented on #417
Any help that you need please contact me ! @ZaynMalloc

[2017-07-05 11:29] #396 closed

[2017-07-05 11:37] #357 closed

[2017-07-05 15:31] jrogatis opened #439 "Statistics is not updating after 1 hour"

[2017-07-05 15:47] #439 closed

[2017-07-06 22:24] anischyros commented on #406
Sounds like a nice idea.  Have any ideas about what icons should be shown?

[2017-07-07 05:16] ZaynMalloc commented on #417
I'm having some problems. I am writing tests for the /api/user endpoint. I keep on getting 403 errors. How do I bypass authentication for testing?
[code]

[2017-07-07 05:57] jrogatis commented on #417
@ZaynMalloc  thats a good question... And a complex answer... What happens is the desired behavior since express uses passport as midleware. So what we need to do is a step back and made a little more work at setup.
Fist we need to set the NODE_ENV at the .env file as 'TEST'
With the variable we can go to the IsAuth method at the /server/api/utils/api.utils.js and change the code
`const isAuth = (

[2017-07-07 06:00] jrogatis commented on #417
on time @ZaynMalloc
  ` afterEach((done) => {
    User.collection.drop();
    done();
  });`
I think its not a good ideia drop the collection... Since we want to be able to test this at against a production db.

[2017-07-07 12:38] CodeNonprofit commented on #348
I'm having this issue today as well, exactly as described by @Bouncey

[2017-07-08 13:52] jrogatis commented on #348
@CodeNonprofit , im unable to reproduce this issue. So  I need more information to debug,

[2017-07-09 21:23] #359 closed

[2017-07-10 09:31] ZaynMalloc opened #446 "TypeError: Cannot read property 'total' of undefined"
When I run
`zach@zach-VirtualBox:~/Documents/Code/meetingorginal/meeting-for-good$ npm run serve

I get this error
[code]

[2017-07-10 09:50] jrogatis commented on #446
@anischyros Please address this one ASAP

[2017-07-10 09:51] jrogatis commented on #446
Please @ZaynMalloc Can you provide app, mongo and nodes  version ?

[2017-07-10 10:01] ZaynMalloc commented on #446
node 7.10.0 v
mongo 3.4.5v

[2017-07-10 10:22] jrogatis commented on #446
@ZaynMalloc Your users and events tables are empty ? If was that maybe is causing the issue. And i ask @anischyros to look at. But mean time you can check the tables ?
And one advise, please look for this at package.json ` "engines": {
    "node": "^8.0.0",
    "npm": "^5.0.0"
  },`

So try to use ver 8+

[2017-07-10 22:03] anischyros commented on #446
I think this occurs when the events and users tables have yet to be created.  I'll have to take that situation into account.

[2017-07-11 04:57] #446 closed

[2017-07-11 05:32] jrogatis opened #448 "Add paginating when more then x events at dahboard"

[2017-07-13 04:07] ghost commented on #379
Hello @jrogatis , can I contribute with this issue=

[2017-07-13 11:13] jrogatis commented on #379
Yes! @ksn0w Any contribution will be appreciated! Please, just take your time to read the contribution guide! And welcome aboard!

[2017-07-13 11:14] jrogatis commented on #406
Bob try to use icons from the material-ui icons!

[2017-07-13 11:15] jrogatis commented on #417
@ZaynMalloc  news? Can I help some way?

[2017-07-14 00:36] ghost commented on #379
Ok, I will send my PR ASAP! thanks @jrogatis

[2017-07-15 00:56] jrogatis commented on #417
Tks for your PR! @ZaynMalloc.
Can we continue?
Best!

[2017-07-15 11:51] ZaynMalloc commented on #417
Yes, I will continue.

[2017-07-17 21:26] QuincyLarson opened #454 "Notification dropdown looks strange if empty"
This should probably say "no new notifications" or something like that. Instead it's just an empty drop down box.

![meeting_for_good](https://user-images.githubusercontent.com/985197/28290609-b1afefc6-6b0c-11e7-893a-0416c4563da9.png)

[2017-07-18 11:13] jrogatis commented on #454
I think that change color to deep gray and disable the button is better! Do you agree? @QuincyLarson

[2017-07-18 11:22] #379 closed

[2017-07-18 13:08] CodeNonprofit commented on #454
I agree that the button should open a dropdown that says "No new notifications."

[2017-07-18 13:30] CodeNonprofit opened #457 "Availability Grid cells selected become unselected upon hover of other participants"
See gif:
http://imgur.com/a/C4bDP

[2017-07-19 11:49] #454 closed

[2017-07-19 20:14] #406 closed

[2017-07-19 22:25] ZaynMalloc commented on #417
I am trying to add fixtures to seed data for testing. I am using the pow-mongodb-fixtures module (https://www.npmjs.com/package/pow-mongoose-fixtures).
However, I get this error:
[code]

fixture.js
[code]
Schema: user.model.js:
[code]
Basically, my problem is that I do not know how to insert data in the GoogleSelectedCalendars since the GoogleSelectedCalendars field has a nested schema.

[2017-07-19 22:34] ZaynMalloc commented on #417
I was trying to test the model by the way.
[code]

[2017-07-20 12:44] jrogatis commented on #417
this field is array of this o bject { calendarId: { form: String, required: true, unique: true } }
so GoogleSelectedCalendars : [{calendarId: 'anyname'}, {calendarId: 'anyname2'}] @ZaynMalloc

[2017-07-22 21:50] Risle commented on #348
I'm having this issue as well. I'm on linux and have tried it on chrome (Version 59.0.3071.115) and firefox (54.0). I was sent a link for a meeting and could sign up for an account just fine but then left me on the blank screen as in the screenshot. However, the url is: https://meeting.freecodecamp.org/event/111111 (except the 1's are the meeting event's ID as seen below). The console shows these

[2017-07-25 20:14] ZaynMalloc commented on #417
I changed fixture.js
[code]

However, I keep on still getting the same error.

[code]
I think I need to compile a model for GoogleSelectedCalendarsSchema to export as GoogleSelectedCalendar, create a fixture for the GoogleSelectedCalendar model and then insert data for GoogleSelectedCalendars field in User, but I am do not know how to.

[2017-07-26 01:07] jrogatis commented on #417
@ZaynMalloc I doesn't have a profound knowledge of tests behavior but give me a few days to make some research and I back to you!

[2017-07-26 01:11] jrogatis commented on #348
Can you send me the event ID that you have at the email body l?  If you want o pvt you can find me at gitter under jrogatis @Risle

[2017-07-26 02:34] ZaynMalloc commented on #417
thanks

[2017-07-26 04:52] Risle commented on #348
Sent.

[2017-07-27 03:11] chemok78 commented on #349
I used it in Chrome on an Android phone and i noticed most parts of the website are responsive but the details page of the event(after you click "View Details") is not responsive. That makes it hard to use.

Also I am not able to swipe the grid on my mobile phone, it just doesn't respond.

[2017-07-29 21:52] jrogatis commented on #349
@chemok78. Yap this component is the most important of the app. and is by design not responsive yet. Any help with ideas to improve that will be welcome!

[2017-07-31 03:11] jrogatis commented on #417
@ZaynMalloc what about take another direction using https://facebook.github.io/jest/ ?

[2017-08-01 05:00] ZaynMalloc commented on #417
Thanks, I'll look into that

[2017-08-01 11:32] jrogatis commented on #417
@ZaynMalloc the big deal about jest is the ability to test state. so we can emulate the screen behavior and make a better UX! So im using that at my professional side now!

[2017-08-06 02:44] ZaynMalloc commented on #417
I'm having trouble with jest. I get the error.
[code]
My test which are in the \__tests__ folder
[code]
.babelrc file
[code]
[code]

[2017-08-06 14:24] jrogatis commented on #417
I will back for you ASAP @ZaynMalloc

[2017-08-06 16:32] ZaynMalloc commented on #417
@jrogatis  Thanks!

[2017-08-15 18:21] caskuplich commented on #398
@jrogatis I'd like to help with this issue. How can I start?

[2017-08-16 23:55] yesthatguy commented on #457
I'm seeing this too. After 5 minutes of selecting my availability in an event I now need to redo it :-/ Any progress on a fix?

[2017-08-17 00:43] yesthatguy opened #462 "Pin times to top of screen when scrolling down in long lists of days"
When I scroll down in a longer list, it becomes hard to tell which column refers to what time:
<img width="683" alt="screenshot with no times showing" src="https://user-images.githubusercontent.com/10944164/29391178-f54c8d46-82ba-11e7-9e3c-d4ddbed0c6b1.png">

It would be nice if, upon scrolling down, the list of times got pinned to the top, so that it always looked like this even for lower rows:
<

[2017-08-17 00:44] yesthatguy commented on #462
This could be an alternative or related to issue #448

[2017-08-17 00:46] yesthatguy commented on #448
(Doesn't seem like I can remove that reference here in Github issues, but it was created in error. Upon further reading I think the two issues aren't actually related.)

[2017-08-17 12:41] jrogatis commented on #462
@yesthatguy Tanks for your suggestion.  If you can try a PR to help with this, i will  most appreciate!

[2017-08-19 00:15] ZaynMalloc commented on #417
@jrogatis  I solved it

[2017-08-19 12:07] jrogatis commented on #417
Cool @ZaynMalloc !!!

[2017-08-19 18:28] gURLmeetsCode commented on #398
@jrogatis I would like to help as well. Please me know if there is anything I can do.

[2017-08-30 22:48] SUPERETDUPER opened #464 "Images on landing page are blury"
The images on the landing page that you see when scrolling are blurry (in my opinion).

[2017-08-31 10:18] staadecker commented on #349
Hello,

I'd like to help with this, but I am a beginner in React.

I already have everything setup and I can run a local version on my computer and phone. Any hints on where should I start?

[2017-09-09 14:47] jrogatis commented on #398
sorry about the delayed answer!  Yes all help will be appreciated! @gURLmeetsCode and @caskuplich ! Its simple. look at the code and find the complex prototypes that repeat along the other component classes and add a file inside at the commom prototypes dir and try to export then there. Any help that you needed please contact me !

[2017-09-09 14:50] jrogatis commented on #464
maybe the compression was set to deep... @SUPERETDUPER, do you want to try to fix this?

[2017-09-09 14:55] jrogatis commented on #457
@yesthatguy  that's a new feature... we need to stick the selected blocks and redo the selection after living the user button. can you help @yesthatguy ?

[2017-09-09 20:14] caskuplich commented on #398
@jrogatis Let me see if I get it: I found at least 3 files that could use the common propTypes `isEvent` and `isCurUser` from the file `client/util/commonPropTypes.js`:

- client/components/NavBar/NavBar.js
- client/components/NotificationBar/NotificationBar.js
- client/pages/NewEvent/index.js

But I haven't identified patterns of complex propTypes that could be reused by components. Maybe you can

[2017-09-10 01:11] staadecker commented on #464
I would love to fix the issue however I don't know how. I have forked the repo and it is running locally but I have never done react. Where should I start?

[2017-09-10 04:00] jrogatis commented on #464
its not about the react . its about the webpack compressor. look at webpack prod and there you find the initial path to solve this issue. @SUPERETDUPER

[2017-09-10 04:03] jrogatis commented on #398
@caskuplich
  curUser: PropTypes.shape({
    _id: PropTypes.string,      // Unique user id
    name: PropTypes.string,     // User name
    avatar: PropTypes.string,   // URL to image representing user(?)
  }).isRequired,

is one of than is used all over the app.

[2017-09-10 13:01] #462 closed

[2017-09-10 13:10] jrogatis commented on #349
about this @SUPERETDUPER . The main issue here is to figure out a possible refactor at the main component the grid. It's a good challenge, but maybe you need some time to understand react first.

[2017-09-10 13:23] staadecker commented on #464
@jrogatis Ok I'll try.

[2017-09-10 13:24] staadecker commented on #349
@jrogatis I'll try and we'll see what happens :).

[2017-09-11 11:50] #464 closed

[2017-09-12 02:53] caskuplich commented on #398
@jrogatis Unfortunately I can't run the project on my local machine. After Google redirects to the app, the following error appears:

[code]

Node version: v8.3.0
MongoDB version: v3.4.7
OS: Trisquel 7 (Ubuntu 14.04)

Can you help me with this issue?

[2017-09-12 11:08] jrogatis commented on #398
@caskuplich Hey there. Sure! Do you set the .env file properly with the correct api keys ?

[2017-09-12 18:22] caskuplich commented on #398
@jrogatis I just didn't set the `FACEBOOK_KEY`, `FACEBOOK_SECRET`, `AWS_ACCESS_KEY_ID`, `AWS_SECRET_KEY`, and `EMAIL_FROM`.

Is there any problem to set the URL restrictions and redirect_url to `http://localhost:8080` and `http://localhost:8080/api/auth/google/callback`, respectively on the Google API Console when I create a new OAuth API client_id? I enabled the Calendar API as stated on the READ

[2017-09-13 10:38] carl-alberto opened #466 "overlapping placeholder text when entering guests in an event"
https://cloudup.com/cFBP8aCHXpr

[2017-09-13 12:00] jrogatis commented on #466
@carl-alberto Tks for the heads up. Can you provide the SO and browser ver?

[2017-09-13 12:05] jrogatis commented on #398
You need to set this call back properly at the google api console.
http://localhost:8080/api/auth/google/callback
at the javascript authorized URLs  at restrictions area.
@caskuplich

[2017-09-13 18:13] caskuplich commented on #398
This is my Google Developers console settings:

![console](https://user-images.githubusercontent.com/1005596/30392499-6969e8b6-9893-11e7-84b8-f47b985333a9.png)

This is a OAuth Client ID credential.

It seems that the problem is on the meeting-for-good code on the return. For some reason the code returned from Google causes the error I mentioned above. The URL of the return comes with a `code` que

[2017-09-13 18:27] jrogatis commented on #398
do you set the Oauth consentiment screen ? and enable the API ? @caskuplich ?

[2017-09-13 21:01] caskuplich commented on #398
@jrogatis, yes. I set my email address and the Product Name as "Meeting for Good Dev". The other fields are optional.

Can I sign-in the application with the same email address I set in the Consent screen or should I enter with a different Google Account?

[2017-09-14 10:24] carl-alberto commented on #466
Tested with

MacOS 10.12.1
Google Chrome Version 61.0.3163.79 (Official Build) (64-bit)

[2017-09-14 14:16] smiller171 opened #468 "Readme should reference AWS API keys, not username and password"
The readme currently tells the user to use their AWS username and password in their config file. This is *extremely dangerous* (if it works at all?) API keys should be used, not username and password.

https://github.com/freeCodeCamp/meeting-for-good/blame/316f32f5cd5d7300bc5e77f4f8186f72c2f3d415/README.md#L31-L32

[2017-09-14 14:18] smiller171 opened #469 "Needs deployment instructions"
Currently there are no instructions for deploying to production. These should be included, preferably for multiple different environments (heroku, AWS, etc)

[2017-09-14 20:36] caskuplich commented on #469
I would add that the development setup instructions should also be enhanced by adding information about how to setup Google API keys and OpBeat keys. I still can not get the project to run on my local machine. I would like to help with this issue when I can run the project.

[2017-09-14 20:44] jrogatis commented on #469
all help will be appreciated. @caskuplich @smiller171

[2017-09-14 20:46] jrogatis commented on #468
nop @smiller171  this is correct, is isued to log at AWS email service, that we use to manage email invites.

[2017-09-14 20:46] #468 closed

[2017-09-14 21:08] smiller171 commented on #469
@jrogatis Do you have any direction on this? What are the current procedures among the core developers?

[2017-09-14 21:14] smiller171 commented on #468
@jrogatis no, this is not correct. While it "works" AWS APIs, including the SES APIs should _always_ be authenticated with IAM access keys or roles, never with username and password. Instructing people to use username and password for this task is a security nightmare for a number of reasons, including that the user can't enable MFA if you want this to work.

[2017-09-15 12:55] jrogatis commented on #469
@smiller171 this app was designed to run at digital ocean FCC servers. But at the development cicle we use heroku. So the runs on both. We don't have any directions on that, what give you a open path for ideias ! ;-)

[2017-09-15 13:00] jrogatis commented on #468
@smiller171 I got the main idea. But that's an app to run from FCC environment. and that's the specs.
I can argue with FCC  dev-ops and back to this issue.

[2017-09-16 19:25] caskuplich commented on #398
I'm suspicious that it's a version problem. I think that there is some breaking change in passport.js or other related package. @jrogatis, can you make a new clone of the repo run on your local machine?

[2017-09-17 20:52] jrogatis commented on #398
@caskuplich I will try today.

[2017-09-17 21:57] jrogatis commented on #398
@caskuplich its running perfectly.

[2017-09-19 15:18] caskuplich commented on #398
@jrogatis, thank you so much. I'll try to find what is wrong with my local machine setup.

[2017-09-19 15:30] jrogatis commented on #398
what . errors you got at the back ? @caskuplich ?

[2017-09-19 15:49] caskuplich commented on #398
The same errors I posted above, @jrogatis. What makes this hard to solve is that there isn't a good error message, unfortunately.

[2017-09-19 17:08] caskuplich commented on #398
@jrogatis Yeah! Now I can login! I had to enable the Google+ API to make this work. So, my Google API console dashboard has the Google Calendar API, Google+ API and the Analytics API enabled. Thank you again @jrogatis. Now I can work on this issue on my local machine. :smile:

[2017-09-19 18:12] jrogatis commented on #398
great @caskuplich !

[2017-09-20 01:21] caskuplich commented on #398
@jrogatis , I DRYed the NotificationBar component (`client/components/NotificationBar/NotificationBar.js`) with no problems. But I tried to change the NavBar component (`client/components/NavBar/NavBar.js`) and it issues a warning on the web console saying that `_id` and `avatar` are required when the user isn't logged in. The current version doesn't issue any warning regarding propTypes. Can you

[2017-09-20 15:12] jrogatis commented on #398
@caskuplich  can you give me your branch url ? so i can see the code and help with  ?

[2017-09-20 19:27] caskuplich commented on #398
@jrogatis Here is my branch URL: https://github.com/caskuplich/meeting-for-good/tree/fix/refactor-proptypes

I think the NotificationBar can be merged with no problems, but the NavBar issues propTypes warnings saying that `_id`, `name`, and `avatar` from `curUser` are undefined even when the user is logged in.

I also noticed that the `client/pages/NewEvent/index.js` (current version, I didn't mod

[2017-09-27 04:10] gregorywong opened #477 "Getting blank page when trying to "View Details" of event"
## Issue

When I try to click "View Details" on an event that I've created, I get a blank page. When I open the console, there are some error messages.

**Browsers used:**
* Chrome (Version 60.0.3112.113 (Official Build) (64-bit))
* Firefox (Version 55.0.3 (64-bit))

**Operating system and version**:
* OS X 10.11.6

**Additional Notes**

I've run into this problem on both Chrome and Firefox.
I've

[2017-09-27 11:18] jrogatis commented on #477
Hey! @gregorywong  tks for the detailed issue. Can you just copy/paste here the event url?

[2017-09-27 11:22] gregorywong commented on #477
Hi @jrogatis , here's the event url:
https://meeting.freecodecamp.org/event/59cb1e141f9aac1956bb5d1c

[2017-09-28 00:26] staadecker commented on #349
I think I do not have enough understanding of React to do this yet so if anyone else wants to work on this go ahead.

[2017-09-28 01:54] jrogatis commented on #349
it's a hard one @SUPERETDUPER, this is by far the most complex component of the app...

[2017-09-28 01:56] jrogatis commented on #477
![captura de tela 2017-09-27 as 09 20 10](https://user-images.githubusercontent.com/17405774/30945846-e3e985f8-a3d6-11e7-8b0f-1fb69b5553ae.png)
it's working for me... Can you try to run the app locally and help us with more details about the bug ? @gregorywong  ?

[2017-09-28 02:34] gregorywong commented on #477
@jrogatis Sure, but it might take me some time to do that. I also tried replicating the issue, but I was only able to do it once (even though I created identical events). So I haven't been able to figure out what's causing the issue yet.

[2017-09-28 03:33] gregorywong commented on #477
@jrogatis I'm afraid this might be beyond my ability, as I had trouble even just getting it to work locally.

I set up the Google API credentials, and was able to connect to Google:
![screen shot 2017-09-28 at 11 16 02 am](https://user-images.githubusercontent.com/1437804/30947904-0c13e7b8-a43f-11e7-8c7a-d55f1187f8b4.png)

But after clicking "Allow", I get this:
![screen shot 2017-09-28 at 11 17 0

[2017-09-29 01:07] jrogatis commented on #477
you need to set the callback at the google api http://localhost:8080/api/auth/google/callback @gregorywong

[2017-09-29 03:15] gregorywong commented on #477
@jrogatis Do you mean on this page? It was already set.
![screen shot 2017-09-29 at 11 11 54 am](https://user-images.githubusercontent.com/1437804/30999362-5ee346dc-a507-11e7-8948-ee5cafb61db1.png)

[2017-10-18 20:34] CyberSardinha opened #480 "Unable to deploy"
Everytime I try to deploy I get this error:

`> meeting-for-good@1.0.13 dev /root/meeting-for-good

(node:14478) DeprecationWarning: `open()` is deprecated in mongoose >= 4.11.0, u                                                                                                             se `openUri()` instead, or set the `useMongoClient` option if using `connect()`

[2017-10-22 01:23] #480 closed

[2017-10-22 02:54] jrogatis commented on #480
i hope you notice that you need to provide a opbeat key at the .env @CyberSardinha

[2017-11-27 04:12] jrogatis commented on #398
i will adress this ASAP @caskuplich for some reason I miss your last comment

[2017-12-14 13:33] willnwhite opened #481 ""freecodecamp.org wants to View your calendars" stops me from signing up"
Why does Meeting For Good want to view my calendars? This stops me from signing up, partly because I don't know if my invitees will find this acceptable, and partly because I don't.

[2018-01-07 22:02] #395 closed

[2018-01-21 15:45] jrogatis commented on #481
Just to give you the possibility to better judge looking at your Google calendar if you are really free at that date and time.  @willnwhite

[2018-02-14 22:59] SUPERETDUPER opened #487 "Website down!"
I get a chrome warning saying the webpage is not safe and if I try to proceed I fall on a heroku page

[2018-02-16 04:52] lanesawyer commented on #487
Same here. Still down a day later.

[2018-02-16 10:33] Bouncey commented on #487
Same for firefox

@freeCodeCamp/meeting-for-good @freeCodeCamp/moderators @BerkeleyTrue @QuincyLarson

![mfg](https://user-images.githubusercontent.com/18572518/36303606-93ee5e50-1304-11e8-9eaa-a0482552a837.png)

[2018-02-16 10:37] Bouncey commented on #487
http:// is saying that heroku doesn't know about an app

![herokumfg](https://user-images.githubusercontent.com/18572518/36303810-51cddd1a-1305-11e8-9a58-30f19c669789.png)

[2018-02-16 10:39] Bouncey commented on #487
@jrogatis ☝️

[2018-02-16 12:51] raisedadead commented on #487
If this is a free app then, either got shut down, crossing the fair usage limits, or it was deleted by its owner.

[2018-02-16 14:42] QuincyLarson commented on #487
@BerkeleyTrue This is an issue with NGINX not being properly configured. It should now point to https://meeting-for-good-jp.herokuapp.com/

[2018-02-16 15:13] beaucarnes opened #488 "'Create Event' button broken"
After clicking the 'Create Event' button on [https://meeting-for-good-jp.herokuapp.com/event/new](https://meeting-for-good-jp.herokuapp.com/event/new), there are errors in the console and nothing changes on the page.
Errors:
- `cbNewEvent func not passed in!`
- `createEvent, NewEvent TypeError: Cannot read property '_id' of undefined`

![image](https://user-images.githubusercontent.com/1513130/363

[2018-02-16 16:04] BerkeleyTrue commented on #487
jp needs to set up his heroku instance to accept traffic from those urls

[2018-02-19 20:26] QuincyLarson commented on #487
@BerkeleyTrue I've emailed @jrogatis to make sure he sees this.

[2018-02-27 02:16] #487 closed

[2018-02-27 02:17] #488 closed

[2018-03-03 04:45] yesthatguy opened #490 "Certificate error on https://meeting.freecodecamp.org"
When visiting the site right now I see an SSL certificate error:

<img width="665" alt="screen shot 2018-03-02 at 10 43 51 pm" src="https://user-images.githubusercontent.com/10944164/36930647-548580e6-1e6b-11e8-9b5d-9eda2bccb7ad.png">

[2018-03-16 18:52] razzlepdx commented on #490
I also came here to report this error, please let me know if I can help!

[2018-03-17 00:29] jrogatis commented on #490
@razzlepdx Tks for your offer. I really don't know if this is an issue with the router or some configuration needed at the URL redirect. Any contribution will be welcome!

[2018-03-21 03:24] yesthatguy commented on #490
This is most likely an error with the hosting configuration in Heroku and/or the DNS entry for meeting.freecodecamp.com/org.

Here's an article explaining what is the likely problem:
https://support.dnsimple.com/articles/heroku-error-ssl/

@jrogatis do you have access to both the Heroku configuration and the DNS? I'd be happy to schedule a call with you to walk through the configuration if the art

[2018-03-21 11:32] thezillia opened #491 "What is meeting-for-good license?"
Hello,

I have been looking for meeting-for-good license file, haven't able to find it yet. Can you please let me know what license is meeting-for-good under?

Thank you.

[2018-03-22 14:04] jrogatis commented on #490
@yesthatguy Tks for your help! I think that with the article we can solve that issue!
Give a week to arrange things with the proper dev-ops!

[2018-05-15 12:07] pankajflows commented on #490
Still I can get that error. Not good for the site.

[2018-05-16 23:16] staadecker commented on #490
The error is still here for me. However, you could access the website from [https://meeting-for-good-jp.herokuapp.com/](url)

[2018-08-25 15:46] saugatkhadka commented on #374
@jrogatis jrogatis Hello there. I saw this project on FCC Reddit and was really interested in contributing. But I do not have much experience regarding open source contribution or writing docs. I did do the fcc javascript tag quite a while back and am willing to learn and explore.

[2018-08-27 17:05] #491 closed

[2018-08-27 17:06] raisedadead commented on #491
Hi @thezillia thanks for the issue. I have just added the license.

[2018-12-28 19:14] raisedadead commented on #490
Hello 👋 !

This is Mrugesh from the Dev team here at freeCodeCamp.org. I have updated the DNS config so you should be able to see the error in the OP resolved.

![2018-12-29 00 48 09](https://user-images.githubusercontent.com/1884376/50525783-a73b4e80-0b03-11e9-928b-69c515056e2f.gif)

However, @jrogatis

I think you would still need to update the oauth settings for Google. The page is redirecting

[2019-05-01 18:15] dmcfaddengalway commented on #425
Hey @jrogatis id like to take this one